language: julia
os:
  - linux
julia:
  - 0.6
  - 0.7
  - 1.0
notifications:
  email: false
after_success:
  - julia -e 'ENV["TRAVIS_JULIA_VERSION"] != "1.0" && exit(); using Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
